/* параметры вообще для всего */
* {}

/* параметры для окна */
window {}

/* параметры для окна ввода */
#input {
    padding: 5px;
}

/* параметры для окна с приложениями */
#inner-box {
    padding: 5px;
}

/* параметры пространства вокруг окна wofi */
#outer-box {}

/* параметры для полосы прокрутки */
#scroll {}

/* параметры для текста */
#text {
    margin-left: 7px;
}

/* параметры для выделенного пункта */
#entry:selected {}

/* параметры выделенного текста */
#text:selected {}

/* параметры для иконок */
#img

/* параметры для не выделенного */
#unselected